html, body {
	margin: 0;
	height: 100%;
	font-size: 18px;
}

* {
	box-sizing: border-box;
}

header, footer {
	background-color: #ed79a9;
	color: #ffffff;
	font-family: 'Slabo 27px', serif;
}
h1 {
	margin: 0;
}

h1 a {
	color: inherit !important;
}

.media {
	position: absolute;
	left: 100%;
	margin-left: 20rem;
	margin-top: 0.25rem;
}
.media img {
	height: 2rem;
}
.media a {
	text-decoration: none !important;
}

header, footer, section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer h2 {
	opacity: 0.8;
	color: inherit !important;
}

section {
	font-family: 'Roboto', sans-serif;
}

.viewport-container {
	width: 40rem;
	margin-right: 15rem;
	max-width: 100%;
	padding: 1em;
	position: relative;
}

h2 {
	margin: 0;
	color: #8d00d9;
}

h3 {
	position: absolute;
	right: 100%;
	font-size: 1rem;
	font-weight: 700;
	color: #8d00d9;
	margin: 0;
	margin-top: 1rem;
	margin-right: 0.5rem;
	width: 100%;
	text-align: right;
}

s {
	opacity: 0.5;
}

a {
	color: #ff1994;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	text-decoration: underline;
}

li {
	margin-bottom: 0.25rem;
}

@media all and (prefers-color-scheme: dark) {
	header, footer {
		background-color: #9c2254;
	}
	section {
		background-color: #160117;
		color: #fee8ff;
	}
	h2, h3 {
		color: #cd91ed;
	}
	a {
		color: #f765b4;
	}
}

@media screen and (max-width: 1300px) {
	h3 {
		position: static;
		text-align: left;
	}

	.viewport-container {
		margin-right: 0;
	}
}
