/* Old Safari doesn't support light-dark */
html {
	--color-scrollbar: #ff7ac1;
	--color-scrollbar-bg: #ff199420;
	--color-bg: #ffffff;
	--color-text: #000000;
	--color-accent: #8d00d9;
	--color-header-bg: #f06ea4;
	--color-nav-current: #ff1994;
	--color-nav-current-bg: #ebdde2;
	--color-link: #ff1994;
	--color-aside-bg: #fce5ff;
	--color-blockquote-bg: #f2befa;
	--color-blockquote-border: #ed79a9;
	--color-split-image-circle-bg: #f06ea4;
	--color-split-image-circle-text: #ffffff;
}
@media all and (prefers-color-scheme: dark) {
	html {
		--color-scrollbar: #d0438f;
		--color-scrollbar-bg: #f765b420;
		--color-bg: #160117;
		--color-text: #fee8ff;
		--color-accent: #cd91ed;
		--color-header-bg: #9c2254;
		--color-nav-current: #ffffff;
		--color-nav-current-bg: #160117;
		--color-link: #f765b4;
		--color-aside-bg: #361c39;
		--color-blockquote-bg: #4e2554;
		--color-blockquote-border: #9c2254;
		--color-split-image-circle-bg: #9641c0;
		--color-split-image-circle-text: #fee8ff;
	}
}

html {
	color-scheme: light dark;
	scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-bg);
	background-color: var(--color-bg);
}

html, body {
	margin: 0;
	height: 100%;
	font-size: 18px;
	line-height: 1.4;
}

* {
	box-sizing: border-box;
}

header, footer {
	color: #ffffff;
	background-color: var(--color-header-bg);
	font-family: 'Slabo 27px', serif;
}
h1 {
	margin: 0;
}

h1 a {
	color: inherit !important;
}

.media {
	position: absolute;
	left: 100%;
	margin-left: 20rem;
	margin-top: 0.25rem;
}
.media img {
	height: 2rem;
}
.media a {
	text-decoration: none !important;
}

nav {
	display: flex;
	flex-direction: row;
	margin-top: 0.5rem;
}
nav a {
	color: #ffffff;
	background-color: #00000030;
	font-family: 'Roboto', sans-serif;
	padding: 0.25rem 0.5rem;
	margin-right: 0.5rem;
}
nav .current {
	color: var(--color-nav-current);
	background-color: var(--color-nav-current-bg);
}

header, footer, section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer h2 {
	opacity: 0.8;
	color: inherit !important;
}

section {
	font-family: 'Roboto', sans-serif;
	color: var(--color-text);
}

code {
	font-family: 'Noto Sans', sans-serif;
	color: var(--color-accent);
	word-wrap: break-word;
}

.viewport-container {
	width: 40rem;
	margin-right: 15rem;
	max-width: 100%;
	padding: 1em;
	position: relative;
}

h2 {
	margin: 0;
	color: var(--color-accent);
}
h2 a {
	color: inherit;
}

:not(h2):has(+ h3) {
	margin-bottom: 3rem !important;
}
h3 {
	position: absolute;
	width: 100vw;
	margin: 0;
	margin-left: calc(-100vw - 1.5rem);
	text-align: right;
	font-size: 1em;
	font-weight: 700;
	color: var(--color-accent);
}

s {
	opacity: 0.5;
}

a {
	color: var(--color-link);
	text-decoration: none;
}
a:hover, a:active, a:focus {
	text-decoration: underline;
}

li {
	margin-bottom: 0.25rem;
}

hr {
	visibility: hidden;
	margin-top: 2rem;
}

@media screen and (max-width: 1300px) {
	.media {
		left: unset;
		right: 1rem;
	}

	h3 {
		position: static;
		width: 100%;
		margin-left: 0;
		margin-bottom: 1rem;
		text-align: left;
	}

	.viewport-container {
		margin-right: 0;
	}
}
