time {
	opacity: 0.8;
}

h3 {
	margin-top: 2rem;
}
h3 + * {
	margin-top: 3rem;
}

.post-entry {
	margin-bottom: 2rem;
}

code {
	font-family: 'Noto Sans', sans-serif;
	color: #8d00d9;
	word-wrap: break-word;
}
math {
	color: #8d00d9;
}

.table-wrapper {
	margin-left: -7rem;
	width: 52rem;
	background-color: #00000010;
	overflow: auto;
}
table {
	width: 100%;
	border-collapse: collapse;
}
th, td {
	padding: 0.25rem 0.5rem;
	border: 0.25rem solid #ffffff;
}

pre {
	margin-left: -7rem;
	width: 52rem;
	font-size: 0.85rem;
	padding: 0.75rem;
	overflow: auto;
	background-color: #00000010;
}
pre code {
	font-family: 'Roboto Mono', monospace;
	color: #000000;
}

.expansible-code {
	position: relative;
}
.expansible-code > input {
	display: none;
}
.expansible-code > .highlighted {
	height: 20em;
	overflow: hidden;
}
.expansible-code > label {
	position: absolute;
	left: -0.75rem;
	top: -0.75rem;
	width: calc(100% + 1.5rem);
	height: calc(100% + 1.5rem);
	padding-block: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	background-image: linear-gradient(to bottom, transparent, #d0d0d0);
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	cursor: pointer;
}
.expansible-code > label::before {
	content: "Expand";
}
.expansible-code > input:checked + .highlighted {
	height: auto;
	overflow: visible;
}
.expansible-code > input:checked ~ label {
	display: none;
}

.diagram {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.diagram svg {
	margin-left: -7rem;
	width: 52rem;
	height: auto;
}

blockquote {
	border-left: 0.375rem solid #ed79a9;
	background-color: #f2befa;
	margin: 0;
	padding: 0.5rem;
}
blockquote > :first-child {
	margin-top: 0;
}
blockquote > :last-child {
	margin-bottom: 0;
}

hr {
	visibility: hidden;
	margin-top: 2rem;
}

aside {
	position: absolute;
	left: 100%;
	margin-top: -0.5rem;
	width: 15rem;
	padding: 0.5rem;
	background-color: #f2befa;
	z-index: 1;
}
aside > :first-child {
	margin-top: 0;
}
aside > :last-child {
	margin-bottom: 0;
}

.only-dark {
	display: none;
}

@media all and (prefers-color-scheme: dark) {
	code, math {
		color: #cd91ed;
	}
	aside {
		background-color: #4e2554;
	}
	blockquote {
		border-left-color: #9c2254;
		background-color: #4e2554;
	}
	.table-wrapper {
		background-color: #ffffff10;
	}
	pre {
		background-color: #00000080;
	}
	th, td {
		border-color: #160117;
	}
	pre code {
		color: #ffffff;
	}
	.expansible-code > label {
		background-image: linear-gradient(to bottom, transparent, #000000);
	}
	.only-light {
		display: none;
	}
	.only-dark {
		display: block;
	}
}

@media screen and (max-width: 1300px) {
	h3 + * {
		margin-top: 1rem;
	}

	.aside-group {
		display: flex;
		flex-direction: column;
	}
	.aside-group > :nth-child(2) {
		margin-top: 0;
	}
	.aside-group > :last-child {
		margin-bottom: 0;
	}
	.aside-group > aside {
		order: 1000;
		margin-top: 1rem;
	}

	aside {
		position: static;
		width: 100%;
	}
}

@media screen and (max-width: 1000px) {
	pre, .diagram svg, .table-wrapper {
		margin-left: 0;
		width: 100%;
	}
}
