.magenta {
	color: #8f1fff;
}

.magenta::before {
	content: "";
	display: inline-block;
	width: 0.9rem;
	height: 0.9rem;
	background-color: currentColor;
	vertical-align: middle;
	margin-right: 0.25rem;
}


ul {
	padding-left: 0;
}
li {
	position: relative;
	list-style-type: none;
}

li .icons {
	position: absolute;
	right: 100%;
	margin-right: 0.5rem;
	width: 10rem;
	text-align: right;
}
li .icons i {
	margin-left: 0.5rem;
}

.right-image {
	position: absolute;
	left: 100%;
}

@media screen and (max-width: 1300px) {
	.right-image {
		position: static;
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
}

@media screen and (max-width: 1000px) {
	li {
		margin-bottom: 0.5rem;
	}
	li .icons {
		position: static;
		display: inline-block;
		text-align: left;
		width: auto;
		margin-right: 0;
	}
	li .icons i {
		margin-left: 0;
		margin-right: 0.5rem;
	}
}
